RewriteEngine On

# 302 redirects from generic URIs to 2023 URIs for all files that existed in 2017 edition, and still exist in 2023 edition
# 302 redirects from generic URIs to 2017 URIs for all files that existed in 2017 edition, and do not exist in 2023 edition

# example:
# set up 302 redirect sosa to 2023/sosa
# ...

# 
# set up 302 redirect sampling to 2023/sampling # ./sosa/sampling existed in 2017 and exists in 2023.

