pre {
  white-space: pre-wrap
}

span.logic {
  font-weight:bold;
  color:purple;
}

/* Styles to replicate key SpecGen styles */

.azlist {
  margin-top: 10pt;
  padding: 5px;
  border: 1px solid #e3dcf2;
}

.specterm {
    margin-top: 1em;
}

.specterm h4 {
    margin-top: 1em;
}

.specterm h5 , .specterm h6 {
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

section.specterm {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.1ex;
    padding-bottom: 0.1ex;
    background-color: #eefafc;
    border: 1px solid;
    border-left: 0.5em solid;
    border-color: #52c8e0;
}

.ssn {
    background-color: #beeaf3;
}

.buttonpanel {
   display: flex;
   justify-content: flex-end ;
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
    padding-top: 1ex;
    padding-bottom: 0.6ex;
    border: 0px dotted black;
    font-size: small;
}

ul.align-on-symbol {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul.align-on-symbol li {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  /*gap: 0.5em;*/
  font-family: monospace; /* optional for better alignment */
}

ul.align-on-symbol li .lhs {
  min-width: 30ch;  /* fixed width for alignment */
  text-align: right;
}

ul.align-on-symbol.align-on-symbol-long li .lhs {
  min-width: 50ch;  /* fixed width for alignment */
  text-align: right;
}

ul.align-on-symbol li .symbol {
  padding: 0 0.5ch;
}

ul.align-on-symbol li .rhs {
  flex: 1;
  text-align: left;
}

/* Responsive behavior for small screens */
@media (max-width: 600px) {
  ul.align-on-symbol li {
    display: block; /* stack vertically */
    margin-bottom: 1em;
  }

  
  ul.align-on-symbol li .lhs {
    min-width: 0;
    text-align: left;
    display: block;
    margin-bottom: 0.25em;
  }

  ul.align-on-symbol.align-on-symbol-long li .lhs {
    min-width: 0;
    text-align: left;
    display: block;
    margin-bottom: 0.25em;
  }

  ul.align-on-symbol li .symbol,
  ul.align-on-symbol li .rhs {
    display: inline;
  }

  /* Wrap symbol+rhs in a flex container */
  ul.align-on-symbol li .symbol + .rhs {
    display: inline;
  }

  /* Optional: indent second line */
  ul.align-on-symbol li .symbol {
    padding-left: 1.5em;
    padding-right: 0.5ch;
  }
}
